@font-face {
  font-family: 'Red-Icons';
  src:
    url('dev/Red-Icons.ttf?x6d6es') format('truetype'),
    url('dev/Red-Icons.woff?x6d6es') format('woff'),
    url('dev/Red-Icons.svg?x6d6es#Red-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ri-"], [class*=" ri-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Red-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-c:before {
  content: "\ee98a";
}
.ri-cplusplus:before {
  content: "\ee99a";
}
.ri-csharp:before {
  content: "\ee9aa";
}
.ri-python:before {
  content: "\eeb9c";
}
.ri-vscode:before {
  content: "\eec8e";
}
