@import  url("https://cdn.jsdelivr.net/gh/Red-Code-INC/Red-Code-Logos@1.0.7/logos.css");

@font-face {
  font-family: 'Red-Icons';
  src:  url('fonts/Red-Icons.eot?ip2evo');
  src:  url('fonts/Red-Icons.eot?ip2evo#iefix') format('embedded-opentype'),
    url('fonts/Red-Icons.ttf?ip2evo') format('truetype'),
    url('fonts/Red-Icons.woff?ip2evo') format('woff'),
    url('fonts/Red-Icons.svg?ip2evo#Red-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ri-"], [class*=" ri-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Red-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-academic-cap:before {
  content: "\e900";
}
.ri-adjustments:before {
  content: "\e901";
}
.ri-annotation:before {
  content: "\e902";
}
.ri-archive:before {
  content: "\e903";
}
.ri-arrow-down-circle:before {
  content: "\e904";
}
.ri-arrow-left-circle:before {
  content: "\e905";
}
.ri-arrow-right-circle:before {
  content: "\e906";
}
.ri-arrow-up-circle:before {
  content: "\e907";
}
.ri-arrow-down:before {
  content: "\e908";
}
.ri-arrow-left:before {
  content: "\e909";
}
.ri-arrow-down-narrow:before {
  content: "\e90a";
}
.ri-arrow-left-narrow:before {
  content: "\e90b";
}
.ri-arrow-right-narrow:before {
  content: "\e90c";
}
.ri-arrow-up-narrow:before {
  content: "\e90d";
}
.ri-arrow-right:before {
  content: "\e90e";
}
.ri-arrows-expand:before {
  content: "\e90f";
}
.ri-arrow-down-min:before {
  content: "\e910";
}
.ri-arrow-left-min:before {
  content: "\e911";
}
.ri-arrow-right-min:before {
  content: "\e912";
}
.ri-arrow-up-min:before {
  content: "\e913";
}
.ri-arrow-up:before {
  content: "\e914";
}
.ri-at-symbol:before {
  content: "\e915";
}
.ri-backspace:before {
  content: "\e916";
}
.ri-badge-check:before {
  content: "\e917";
}
.ri-ban:before {
  content: "\e918";
}
.ri-beaker:before {
  content: "\e919";
}
.ri-bell:before {
  content: "\e91a";
}
.ri-bookmark:before {
  content: "\e91b";
}
.ri-bookmark-2:before {
  content: "\e91c";
}
.ri-book-open:before {
  content: "\e91d";
}
.ri-briefcase:before {
  content: "\e91e";
}
.ri-cake:before {
  content: "\e91f";
}
.ri-calendar:before {
  content: "\e920";
}
.ri-camera:before {
  content: "\e921";
}
.ri-cash:before {
  content: "\e922";
}
.ri-chart-bar:before {
  content: "\e923";
}
.ri-chart-pie:before {
  content: "\e924";
}
.ri-chart-square-bar:before {
  content: "\e925";
}
.ri-chat:before {
  content: "\e926";
}
.ri-chat-2:before {
  content: "\e927";
}
.ri-chat-3:before {
  content: "\e928";
}
.ri-check:before {
  content: "\e929";
}
.ri-check-circle:before {
  content: "\e92a";
}
.ri-chevron-down-dbl:before {
  content: "\e92b";
}
.ri-chevron-left-dbl:before {
  content: "\e92c";
}
.ri-chevron-right-dbl:before {
  content: "\e92d";
}
.ri-chevron-up-dbl:before {
  content: "\e92e";
}
.ri-chevron-down:before {
  content: "\e92f";
}
.ri-chevron-left:before {
  content: "\e930";
}
.ri-chevron-right:before {
  content: "\e931";
}
.ri-chevron-up:before {
  content: "\e932";
}
.ri-chip:before {
  content: "\e933";
}
.ri-clipboard-check:before {
  content: "\e934";
}
.ri-clipboard-copy:before {
  content: "\e935";
}
.ri-clipboard-list:before {
  content: "\e936";
}
.ri-clock:before {
  content: "\e937";
}
.ri-cloud:before {
  content: "\e938";
}
.ri-cloud-download:before {
  content: "\e939";
}
.ri-cloud-upload:before {
  content: "\e93a";
}
.ri-code:before {
  content: "\e93b";
}
.ri-settings:before {
  content: "\e93c";
}
.ri-collection:before {
  content: "\e93d";
}
.ri-color-swatch:before {
  content: "\e93e";
}
.ri-credit-card:before {
  content: "\e93f";
}
.ri-cube:before {
  content: "\e940";
}
.ri-cube-transparent:before {
  content: "\e941";
}
.ri-bangladeshi:before {
  content: "\e942";
}
.ri-dollar:before {
  content: "\e943";
}
.ri-euro:before {
  content: "\e944";
}
.ri-pound:before {
  content: "\e945";
}
.ri-rupee:before {
  content: "\e946";
}
.ri-yen:before {
  content: "\e947";
}
.ri-cursor-click:before {
  content: "\e948";
}
.ri-database:before {
  content: "\e949";
}
.ri-desktop:before {
  content: "\e94a";
}
.ri-device-mobile:before {
  content: "\e94b";
}
.ri-doc:before {
  content: "\e94c";
}
.ri-doc-add:before {
  content: "\e94d";
}
.ri-doc-download:before {
  content: "\e94e";
}
.ri-doc-duplicate:before {
  content: "\e94f";
}
.ri-doc-remove:before {
  content: "\e950";
}
.ri-doc-report:before {
  content: "\e951";
}
.ri-doc-search:before {
  content: "\e952";
}
.ri-doc-text:before {
  content: "\e953";
}
.ri-dots-horizontal-circle:before {
  content: "\e954";
}
.ri-dots-horizontal:before {
  content: "\e955";
}
.ri-dots-vertical:before {
  content: "\e956";
}
.ri-download:before {
  content: "\e957";
}
.ri-download-2:before {
  content: "\e958";
}
.ri-duplicate:before {
  content: "\e959";
}
.ri-emoji-happy:before {
  content: "\e95a";
}
.ri-emoji-sad:before {
  content: "\e95b";
}
.ri-exclamation:before {
  content: "\e95c";
}
.ri-exclamation-circle:before {
  content: "\e95d";
}
.ri-external-link:before {
  content: "\e95e";
}
.ri-eye:before {
  content: "\e95f";
}
.ri-eye-off:before {
  content: "\e960";
}
.ri-fast-forward:before {
  content: "\e961";
}
.ri-film:before {
  content: "\e962";
}
.ri-filter:before {
  content: "\e963";
}
.ri-finger-print:before {
  content: "\e964";
}
.ri-fire:before {
  content: "\e965";
}
.ri-flag:before {
  content: "\e966";
}
.ri-folder:before {
  content: "\e967";
}
.ri-folder-add:before {
  content: "\e968";
}
.ri-folder-download:before {
  content: "\e969";
}
.ri-folder-open:before {
  content: "\e96a";
}
.ri-folder-remove:before {
  content: "\e96b";
}
.ri-gift:before {
  content: "\e96c";
}
.ri-globe:before {
  content: "\e96d";
}
.ri-globe-2:before {
  content: "\e96e";
}
.ri-hand:before {
  content: "\e96f";
}
.ri-hashtag:before {
  content: "\e970";
}
.ri-heart:before {
  content: "\e971";
}
.ri-home:before {
  content: "\e972";
}
.ri-icon-currency-dollar:before {
  content: "\e973";
}
.ri-identification:before {
  content: "\e974";
}
.ri-inbox:before {
  content: "\e975";
}
.ri-inbox-in:before {
  content: "\e976";
}
.ri-info-circle:before {
  content: "\e977";
}
.ri-key:before {
  content: "\e978";
}
.ri-light-bulb:before {
  content: "\e979";
}
.ri-lightning-bolt:before {
  content: "\e97a";
}
.ri-link:before {
  content: "\e97b";
}
.ri-location:before {
  content: "\e97c";
}
.ri-lock-closed:before {
  content: "\e97d";
}
.ri-lock-open:before {
  content: "\e97e";
}
.ri-logout:before {
  content: "\e97f";
}
.ri-logout-2:before {
  content: "\e980";
}
.ri-mail:before {
  content: "\e981";
}
.ri-mail-2:before {
  content: "\e982";
}
.ri-mail-open:before {
  content: "\e983";
}
.ri-map:before {
  content: "\e984";
}
.ri-md-library:before {
  content: "\e985";
}
.ri-menu:before {
  content: "\e986";
}
.ri-menu-2:before {
  content: "\e987";
}
.ri-menu-3:before {
  content: "\e988";
}
.ri-menu-4:before {
  content: "\e989";
}
.ri-menu-5:before {
  content: "\e98a";
}
.ri-mic:before {
  content: "\e98b";
}
.ri-minus:before {
  content: "\e98c";
}
.ri-minus-circle:before {
  content: "\e98d";
}
.ri-minus-min:before {
  content: "\e98e";
}
.ri-moon:before {
  content: "\e98f";
}
.ri-music:before {
  content: "\e990";
}
.ri-newspaper:before {
  content: "\e991";
}
.ri-office-building:before {
  content: "\e992";
}
.ri-paper-airplane:before {
  content: "\e993";
}
.ri-paper-clip:before {
  content: "\e994";
}
.ri-pause:before {
  content: "\e995";
}
.ri-pencil:before {
  content: "\e996";
}
.ri-pencil-2:before {
  content: "\e997";
}
.ri-phone:before {
  content: "\e998";
}
.ri-phone-in:before {
  content: "\e999";
}
.ri-phone-missed:before {
  content: "\e99a";
}
.ri-phone-outgoing:before {
  content: "\e99b";
}
.ri-photograph:before {
  content: "\e99c";
}
.ri-play:before {
  content: "\e99d";
}
.ri-plus:before {
  content: "\e99e";
}
.ri-plus-circle:before {
  content: "\e99f";
}
.ri-plus-min:before {
  content: "\e9a0";
}
.ri-presentation-chart-bar:before {
  content: "\e9a1";
}
.ri-presentation-chart-line:before {
  content: "\e9a2";
}
.ri-printer:before {
  content: "\e9a3";
}
.ri-puzzle:before {
  content: "\e9a4";
}
.ri-qrcode:before {
  content: "\e9a5";
}
.ri-question-mark-circle:before {
  content: "\e9a6";
}
.ri-receipt-refund:before {
  content: "\e9a7";
}
.ri-receipt-tax:before {
  content: "\e9a8";
}
.ri-refresh:before {
  content: "\e9a9";
}
.ri-reply:before {
  content: "\e9aa";
}
.ri-rewind:before {
  content: "\e9ab";
}
.ri-rss:before {
  content: "\e9ac";
}
.ri-save:before {
  content: "\e9ad";
}
.ri-save-as:before {
  content: "\e9ae";
}
.ri-scale:before {
  content: "\e9af";
}
.ri-scissors:before {
  content: "\e9b0";
}
.ri-search:before {
  content: "\e9b1";
}
.ri-search-circle:before {
  content: "\e9b2";
}
.ri-selector:before {
  content: "\e9b3";
}
.ri-server:before {
  content: "\e9b4";
}
.ri-share:before {
  content: "\e9b5";
}
.ri-shield-check:before {
  content: "\e9b6";
}
.ri-shield-exclamation:before {
  content: "\e9b7";
}
.ri-shopping-bag:before {
  content: "\e9b8";
}
.ri-sort-ascending:before {
  content: "\e9b9";
}
.ri-sort-descending:before {
  content: "\e9ba";
}
.ri-sparkles:before {
  content: "\e9bb";
}
.ri-speakerphone:before {
  content: "\e9bc";
}
.ri-star:before {
  content: "\e9bd";
}
.ri-status-offline:before {
  content: "\e9be";
}
.ri-status-online:before {
  content: "\e9bf";
}
.ri-stop:before {
  content: "\e9c0";
}
.ri-sun:before {
  content: "\e9c1";
}
.ri-support:before {
  content: "\e9c2";
}
.ri-switch-horizontal:before {
  content: "\e9c3";
}
.ri-switch-vertical:before {
  content: "\e9c4";
}
.ri-table:before {
  content: "\e9c5";
}
.ri-table-2:before {
  content: "\e9c6";
}
.ri-tag:before {
  content: "\e9c7";
}
.ri-template:before {
  content: "\e9c8";
}
.ri-terminal:before {
  content: "\e9c9";
}
.ri-thumbs-down:before {
  content: "\e9ca";
}
.ri-thumbs-up:before {
  content: "\e9cb";
}
.ri-ticket:before {
  content: "\e9cc";
}
.ri-translate:before {
  content: "\e9cd";
}
.ri-trash:before {
  content: "\e9ce";
}
.ri-trending-down:before {
  content: "\e9cf";
}
.ri-trending-up:before {
  content: "\e9d0";
}
.ri-truck:before {
  content: "\e9d1";
}
.ri-upload:before {
  content: "\e9d2";
}
.ri-user:before {
  content: "\e9d3";
}
.ri-user-add:before {
  content: "\e9d4";
}
.ri-user-circle:before {
  content: "\e9d5";
}
.ri-user-group:before {
  content: "\e9d6";
}
.ri-user-remove:before {
  content: "\e9d7e";
}
.ri-users:before {
  content: "\e9d8";
}
.ri-variable:before {
  content: "\e9d9";
}
.ri-video-camera:before {
  content: "\e9da";
}
.ri-view-boards:before {
  content: "\e9db";
}
.ri-view-grid:before {
  content: "\e9dc";
}
.ri-view-grid-add:before {
  content: "\e9dd";
}
.ri-view-list:before {
  content: "\e9de";
}
.ri-mute:before {
  content: "\e9df";
}
.ri-volume-up:before {
  content: "\e9e0";
}
.ri-wifi:before {
  content: "\e9e1";
}
.ri-x:before {
  content: "\e9e2";
}
.ri-x-circle:before {
  content: "\e9e3";
}
.ri-zoom-in:before {
  content: "\e9e4";
}
.ri-zoom-out:before {
  content: "\e9e5";
}
.ri-droplet:before {
  content: "\e9e6";
}
.ri-headphones:before {
  content: "\e9e7";
}
.ri-spades:before {
  content: "\e9e8";
}
.ri-clubs:before {
  content: "\e9e9";
}
.ri-diamonds:before {
  content: "\e9ea";
}
.ri-file-text:before {
  content: "\e9eb";
}
.ri-profile:before {
  content: "\e9ec";
}
.ri-file-empty:before {
  content: "\e9ed";
}
.ri-files-empty:before {
  content: "\e9ee";
}
.ri-file-text2:before {
  content: "\e9ef";
}
.ri-file-picture:before {
  content: "\e9f0";
}
.ri-file-music:before {
  content: "\e9f1";
}
.ri-file-play:before {
  content: "\e9f2";
}
.ri-file-video:before {
  content: "\e9f3";
}
.ri-file-zip:before {
  content: "\e9f4";
}
.ri-copy:before {
  content: "\e9f5";
}
.ri-paste:before {
  content: "\e9f6";
}
.ri-compass:before {
  content: "\e9f7";
}
.ri-keyboard:before {
  content: "\e9f8";
}
.ri-omega:before {
  content: "\ea66";
}
.ri-terminal-2:before {
  content: "\ea81";
}
.ri-google:before {
  content: "\ea88";
}
.ri-google-drive:before {
  content: "\ea8f";
}
.ri-spotify:before {
  content: "\ea94";
}
.ri-youtube:before {
  content: "\ea9d";
}
.ri-github:before {
  content: "\eab0";
}
.ri-apple:before {
  content: "\eabe";
}
.ri-android:before {
  content: "\eac0";
}
.ri-reddit:before {
  content: "\eac6";
}
.ri-html:before {
  content: "\eae4";
}
.ri-css:before {
  content: "\eae6";
}.rc-redicons{
  width:24px;
  content:url("./icons/logos/Red-Icons-Logo.png");
}

.rc-redx{
  width:24px;
  content:url("./icons/logos/Red-X-Logo.png");
}
.rs-placeholder{
  width:24px;
  content:url("./icons/misc/Placeholder.png");
