.rc-redscript{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-script/Red-Script-Logo.png");
}
.rc-redscript-2{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-script/Red-Script-Logo-2.png");
}
.rc-redscript-mobile,.rc-redscript-3{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-script/Red-Script-Logo-MOBILEICON.png");
}
.rc-redcss{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-css/Red-CSS-Logo.png");
}
.rc-redcss-2{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-css/Red-CSS-Logo-2.png");
}
.rc-redcss-mobile,.rc-redcss-3{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-css/Red-CSS-Logo-MOBILEICON.png");
}
.rc-redhtml{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-html/Red-HTML-Logo.png");
}
.rc-redhtml-2{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-html/Red-HTML-Logo-2.png");
}
.rc-redhtml-mobile, .rc-redhtml-3{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-html/Red-HTML-Logo-MOBILEICON.png");
}
.rc-redcode{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-code/Red-Code-INC-Logo.png");
}
.rc-redcode-2{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-code/Red-Code-INC-Logo-2.png");
}
.rc-redcode-mobile, .rc-redcode-3{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-code/Red-Code-INC-Logo-MOBILEICON.png");
}
.rc-redicons{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-icons/Red-Icons-Logo.png");
}
.rc-redicons-2{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-icons/Red-Icons-Logo-2.png");
}
.rc-redicons-mobile, .rc-redicons-3{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-icons/Red-Icons-Logo-MOBILEICON.png");
}
.rc-redlogos{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/RLL.png");
}
.rc-redlogos-2{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/RLL-2.png");
}
.rc-redx{
  width:30px;
  content:url("./logos/Red-X-Logo.png");
}
.rc-redx-2{
  width:30px;
  content:url("https://cdn.jsdelivr.net/gh/Red-Code-INC/red-logos/red-x/Red-X-Logo.png");
}
.rc-redpython{
  width:30px;
  content:url("./logos/rython/Red-Python-Logo.png");
}
.rc-redpython-2{
  width:30px;
  content:url("./logos/rython/Red-Python-Logo-2.png");
}
.rc-redpython-3{
  width:30px;
  content:url("./logos/rython/Red-Python-Logo-FAVICON.png");
}
.rc-redpython-4{
  width:30px;
  content:url("./logos/rython/Red-Python-Logo-FAVICON-2.png");
}
.rc-redpython-5{
  width:30px;
  content:url("./logos/rython/Red-Python-Logo-SIDESTREAKER.png");
}
.rc-redjava{
  width:30px;
  content:url("./logos/Red-Java-Logo.png");
}
.rc-redjava-2{
  width:30px;
  content:url("./logos/Red-Java-Logo-FAVICON.png");
}
.rc-redc{
  width:30px;
  content:url("./logos/rython/Red-Python-Logo.png");
}
.rc-redc{
  width:30px;
  content:url("./logos/Red-C-Logo.png");
}
.rc-redc-2{
  width:30px;
  content:url("./logos/Red-C-Logo-2.png");
}
.rc-redplus{
  width:30px;
  content:url("./logos/Red-Plus-Logo.png");
}
.rc-redplus-2{
  width:30px;
  content:url("./logos/Red-Plus-Logo-2.png");
}
.rc-redsharp{
  width:30px;
  content:url("./logos/Red-Sharp-Logo.png");
}
.rc-redsharp-2{
  width:30px;
  content:url("./logos/Red-Sharp-Logo-2.png");
}
