body{
    background-color:white;
    color:black;
}
.cdn{
    background-color:#f1f1f1;
}
.icons{
    background-color:lightgray;
}
.icons:hover{
    background-color:silver;
}
#icons{
    background-color:lightgray;
}
.about{
    background-color:#f1f1f1;
}
#theme{
    color:black;
    transform:rotate(0deg);
}
#copyicon{
    color:black;
}
.pun{
    background-color:rgba(255, 255, 255, 0.4);
}
:root{
    --main-color:#f1f1f1;
}
