#iconslist{
    text-align:center;
    display:inline-block;
}
#icons::placeholder{
    color:white;
}
#icons:hover{
    background-color:red;
}
#icons:focus{
    outline:1px solid red;
    background-color:#e60000;
}
.tabcontent{
    display:none;
}

.about{
    width:807px;
    margin-left:3%;
    padding-left:10px;
    padding-right:10px;
}
[iconslog]{
    position:fixed;
    transform:rotate(5deg);
    z-index:-11;
}
.SRI{
    z-index:-100;
    position:fixed;
}
.cdn{
    border-radius:20px;
    border-left:15px solid var(--main-color);
    height:150%;
    border-right:10px solid var(--main-color);
    border-bottom:5px solid var(--main-color);
    
}
.RI{
    content:url("./uploads/Red-Icons-Logo.png");
    position:fixed;
    z-index:-20;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e60000; 
}
red{
    color:red;
}
.rdicons{
    position:fixed;
    color:red;
}
[icon],[icon2]{
    position:relative;
    display:block;
    text-align:center;
}
.icons{
    text-align:center;
    display:inline-block;
    padding-top:1px;
    padding-bottom:5px;
}
.iconlink{
    text-align:center;
}
#icons{
    position:absolute;
    border:none;
}
#theme{
    font-size:30px;
    cursor:pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
  background-color:inherit;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  /*transition: opacity 0.3s;*/
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#copyicon:hover{
    color:red;
}
#copyicon{
    background-color:inherit;
}
#cdnlnk:focus{
    outline:none;
    background-color:inherit;
}
.gitlnk{
    text-decoration:none;
}
.gitlnk:hover{
    text-decoration:underline;
}
.iconstitle{
    background-color:var(--main-color);
    border-radius:20px;
    padding-top:5px;
    padding-bottom:5px;
    /*width:90%;*/
    /*text-align:center;*/
}
.searchfilters{
    border:none;
    outline:none;
    background-color:#e60000;
}
.searchfilters button{
    color:white;
    padding:7px 9px;
    float:left;
    background-color:inherit;
    border:none;
}
.searchfilters button.currentfilter{
    background-color:#c00000;
}
